/**
* Button styles
*/

@mixin btn {
    z-index: 0;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
}

@mixin btn-before {
    background-color: $color-hover;
    position: absolute;
    display: block;
    content: " ";
    border-radius: 100%;
    top: 10%;
    bottom: 0;
    left: 50%;
    width: 0px;
    height: 80%;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

@mixin btn-hover-before {
    top: -10%;
    height: 120%;
    width: 150%;
    left: -25%;
    transition: all 0.5s ease-in-out,
}

@mixin btn-ghost {
    opacity: .5;
    transition: opacity .3s ease-in-out;
}

@mixin btn-ghost-hover {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

@mixin btn-default {
    color: $color-button;
    background-color: $color-bgbutton;
}

@mixin btn-default-hover-before {
    background-color: $color-bgbutton-active;
}

@mixin btn-inverse {
    background-color: $color-bgbutton-inverse;
    color: $color-button-inverse;
}

@mixin btn-inverse-hover {
    color: $color-button;
}

@mixin btn-inverse-hover-before {
    background-color: $color-bgbutton;
}

@mixin btn-circle-before {
    border-radius: 100%;
    top: 50%;
    height: 0;
    transition: all 0.45s ease-in-out;
}

@mixin btn-circle-hover-before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.45s ease-in-out;
}

@mixin btn-circle {
    border-radius: 100%;
}

@mixin btn-fixed {
    position: fixed;
    z-index: 1;
}

.btn,
button {
    @include btn;
}

.btn::before,
button::before {
    @include btn-before;
}

.btn:hover::before,
button:hover::before {
    @include btn-hover-before;
}

.btn.btn-ghost {
    @include btn-ghost;
}

.btn.btn-ghost:hover {
    @include btn-ghost-hover;
}

.btn-default {
    @include btn-default;
}

.btn-default:hover::before,
.btn-default:active::before {
    @include btn-default-hover-before;
}

.btn-inverse {
    @include btn-inverse;
}

.btn-inverse:hover {
    @include btn-inverse-hover;
}

.btn-inverse:hover::before,
.btn-inverse:active::before {
    @include btn-inverse-hover-before;
}

.btn-circle::before {
    @include btn-circle-before;
}

.btn-circle:hover::before {
    @include btn-circle-hover-before;
}

.btn-circle {
    @include btn-circle;
}

.btn-fixed {
    @include btn-fixed;
}
