/**
* Card styles
*/

@mixin card {
    width: 45%;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
}

@mixin card-bg-image {
    width: 100%;
    height: 10rem;
    background-color: $color-border;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin card-label {
    padding: .5rem;
    width: 100%;
}

@mixin card-hoverable {
    position: relative;
    overflow: hidden;
}

@mixin card-hoverable-label {
    position: absolute;
    background-color: rgba($secondary-color, .7);
    bottom: -3rem;
    min-height: 3rem;
    transition: all .2s ease-in-out;
}

@mixin card-hoverable-hover-label {
    bottom: 0;
    transition: all .2s ease-in-out;
}

@mixin card-hoverable-selected-label {
    background-color: rgba($secondary-color, .4);
    min-height: 100%;
    bottom: 0;
    transition: all .2s ease-in-out;
}

.card {
    @include card;
    .bg-image {
        @include card-bg-image;
    }
    .card-label {
        @include card-label;
    }
    &.hoverable {
        @include card-hoverable;
        .card-label {
            @include card-hoverable-label;
        }
        &:hover:not(.selected) .card-label {
            @include card-hoverable-hover-label;
        }
        &.selected {
            .card-label {
                @include card-hoverable-selected-label;
            }
        }
    }
}
