/**
* Form styles
*/
@mixin form-controls {
    display: block;
    width: 100%;
}
@mixin form-label {
    font-weight: 600;
    padding-bottom: 0;
}
@mixin form-group {
    margin-bottom: .6rem;
}
@mixin form-group-floating {
    position: relative;
    margin-top: 1.4rem;
}
@mixin form-group-floating-label {
    position: absolute;
    font-weight: normal;
    top: -.2rem;
    color: $color-placeholder;
    font-size: 1.4rem;
    transition: all .3s ease-in-out;
}
@mixin form-group-floating-input-placeholder {
    opacity: 0;
    transition: .1s ease-in-out;;
}
@mixin form-group-floating-input-label {
    pointer-events: none;
}
@mixin form-group-floating-input-focus-placeholder {
    opacity: 1;
    transition: .1s ease-in-out .3s;
}
@mixin form-group-floating-input-focus-label {
    color: $color-links;
    font-size: 1rem;
    font-weight: 700;
    /*transform: translateY(-(2.5rem + $input-padding * 3));*/
    transform: translateY(-(1rem + $input-padding));
    transition: all .3s ease-in-out;
}
@mixin form-group-floating-input-invalid {
    border-color: $color-invalid;
}

@mixin form-group-floating-input-invalid-focus-label {
    color: $color-invalid;
}

@mixin input-group {
    position: relative;
}

@mixin input-group-btn {
    z-index: 2;
    display: inline-block;
    position: absolute;
    right: 0;
}

@mixin input-group-input {
    display: inline-block;
    float: left;
}

@mixin input-group-after {
    display: block;
    content: '';
    clear: both;
}

form:not(.form-inline) {
    label, input, select, textarea {
        @include form-controls;
    }

    label {
        @include form-label;
    }

    .form-group {
        @include form-group;

        &.label-floating {
            @include form-group-floating;

            label {    
                @include form-group-floating-label;
            }

            input::placeholder {
                @include form-group-floating-input-placeholder;
            }

            input + label,
            input + .label {
                @include form-group-floating-input-label;
            }

            input:focus,
            input:valid {
                &::placeholder {
                    @include form-group-floating-input-focus-placeholder;
                }

                + label,
                + .label {
                    @include form-group-floating-input-focus-label;
                }
            }

            input.invalid {
                @include form-group-floating-input-invalid;

                &:focus + label,
                &:focus + .label {
                    @include form-group-floating-input-invalid-focus-label;
                }
            }
        }
    }

    .input-group {
        @include input-group;

        .btn,
        button {
            @include input-group-btn;
        }

        input,
        .input {
            @include input-group-input;
        }

        input-autocomplete {
            z-index: 1;
        }

        &::after {
            @include input-group-after;
        }
    }
}