<link rel="import" href="../../node_modules/@npm-polymer/polymer/polymer-element.html" />

<dom-module id="ajax-button">
    <template>
        <link rel="stylesheet" href="" media="none">
        <style>
             :host {
                display: inline-block;
            }
        </style>
        <button class="btn btn-default btn-save" type="submit">
        <i hidden$="[[!loading]]" class="fa fa-spinner fa-pulse fa-fw"></i> 
        [[label]]
    </button>
    </template>

    <script>
        class AjaxButton extends Polymer.Element {
            static get is() { return 'ajax-button'; }

            static get properties() {
                return {
                    target: {
                        type: String,
                        observer: "_targetChanged"
                    },
                    loading: {
                        type: Boolean,
                        value: false,
                        observer: "_loadingChanged"
                    },
                    text: String
                };
            }
            _loadingHandler() {
                this.loading = true;
            }
            _successHandler() {
                //this.label = 'sucesso';
                setTimeout(() => this.loading = false, 3000);
            }
            _errorHandler() {
                //this.label = 'error';
                setTimeout(() => this.loading = false, 3000);
            }
            _targetChanged() {
                if (this.target) {
                    this.targetElem = document.querySelector(this.target);
                    this.targetElem.addEventListener('loading', this._loadingHandler.bind(this), false);
                    this.targetElem.addEventListener('success', this._successHandler.bind(this), false);
                    this.targetElem.addEventListener('error', this._errorHandler.bind(this), false);
                }
                else {
                    this.targetElem.removeEventListener('loading', this._loadingHandler.bind(this), false);
                    this.targetElem.removeEventListener('success', this._successHandler.bind(this), false);
                    this.targetElem.removeEventListener('error', this._errorHandler.bind(this), false);
                    this.targetElem = null;
                }
            }
            _loadingChanged() {
                if (this.loading) this.label = "salvando";
                else this.label = this.text;
            }
            _globalStyles() {
                if (window.global && window.global.sharedStyle) {
                    let link = this.root.querySelector('link');
                    link.href = window.global.sharedStyle;
                    link.media = 'all';
                }
            }
            connectedCallback() {
                this.label = this.text;
                super.connectedCallback();
                this._globalStyles();

                this.root.querySelector('button').addEventListener("click", (e) => {
                    if (this.targetElem) {
                        this.targetElem.dispatchEvent(new Event('submit'));
                        e.preventDefault();
                        e.stopPropagation();
                    }
                });
            }
        }

        // Register custom element definition using standard platform API
        customElements.define(AjaxButton.is, AjaxButton);
    </script>
</dom-module>