<link rel="import" href="../../node_modules/@npm-polymer/polymer/polymer-element.html" />

<dom-module id="list-draggable">
	<template>
		<link rel="stylesheet" href="" media="none">
		<style>
			:host {
				display: block;
				width: 100%;
			}

			ul,
			::slotted(li) {
				-moz-user-select: none;
				/* Firefox */
				-ms-user-select: none;
				/* Internet Explorer/Edge */
				user-select: none;

				border: none;
				padding: 0;
			}


			::slotted(li) {
				border: 1px solid #aaa;
				list-style: none;
			}


			::slotted(li:focus) {
				background-color: #eee;
			}


			::slotted(.dragging) {
				background-color: #eee;
				opacity: 0.5;
			}

			::slotted(.todrag) {
				border-top: 3px solid #333;
			}
		</style>

		<ul>
			<slot></slot>
		</ul>
	</template>

	<script>
		class ListDraggable extends Polymer.Element {
			static get is() { return 'list-draggable'; }

			static get properties() {
				return {
					target: String
				};
			}
			_findTarget(x, y) {
				let target = document.elementFromPoint(x, y);
				while (target.root) {
					target = target.root.elementFromPoint(x, y);
				}
				return target.nodeName !== "LI" ? target.closest('li') : target;
			}
			_updateDragging(x, y) {
				let target = this._findTarget(x, y);
				if (target.classList.contains('nodrag')) return;
				if (!this.dragTarget || !this.dragTarget.isSameNode(target)) {
					if (this.dragTarget)
						this.dragTarget.classList.remove("todrag");
					this.dragTarget = target;
					this.dragTarget.classList.add("todrag");
				}
			}
            _globalStyles() {
                if (window.global && window.global.sharedStyle) {
                    let link = this.root.querySelector('link');
                    link.href = window.global.sharedStyle;
                    link.media = 'all';
                }
            }
			connectedCallback() {
				var self = this;
				super.connectedCallback();
                this._globalStyles();

				this.addEventListener("mousedown", this.startDragging.bind(this), false);
				this.addEventListener("mousemove", this.updateMouseDragging.bind(this), false);
				this.addEventListener("mouseup", this.endDragging.bind(this), false);
				this.addEventListener("touchstart", this.startDragging.bind(this), false);
				this.addEventListener("touchmove", this.updateTouchDragging.bind(this), false);
				this.addEventListener("touchend", this.endDragging.bind(this), false);
			}
			startDragging(e) {
				let target = e.target.closest('.drag') || e.target;
				if (target.classList.contains('drag'))
					target = target.closest('li');
				if (target.classList.contains('nodrag')
					|| !target.parentNode.isSameNode(this)
					|| e.target.querySelectorAll('.drag').length > 0)
					return;

				this.dragging = target;
				this.dragging.classList.add("dragging");
				this.dispatchEvent(new CustomEvent('dragStart', { detail: { dragging: this.dragging } }));
			}
			endDragging(e) {
				if (!this.dragging) return;
				this.dragging.classList.remove("dragging");
				if (this.dragTarget) {
					this.dragTarget.classList.remove("todrag");
					const event = new CustomEvent('dragEnd', { cancelable: true, detail: { dragging: this.dragging, target: this.dragTarget } });
					this.dispatchEvent(event);
					if (!event.defaultPrevented)
						this.insertBefore(this.dragging, this.dragTarget);
				}
				else {
					this.dispatchEvent(new CustomEvent('dragCancel', { detail: { dragging: this.dragging } }));
				}
				this.dragging = null;
				this.dragTarget = null;
			}
			updateTouchDragging(e) {
				let x = e.changedTouches[0].pageX;
				let y = e.changedTouches[0].pageY;

				this._updateDragging(x, y);
			}
			updateMouseDragging(e) {
				if (!this.dragging) return;

				let x = e.clientX;
				let y = e.clientY;

				this._updateDragging(x, y);
			}
		}

		// Register custom element definition using standard platform API
		customElements.define(ListDraggable.is, ListDraggable);
	</script>
</dom-module>