/**
* Button styles
*/
:root {
    --btn: {
        z-index: 0;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        outline: none;
    }

    --btn-before: {
        background-color: var(--color-hover);
        position: absolute;
        display: block;
        content: " ";
        border-radius: 100%;
        top: 10%;
        bottom: 0;
        left: 50%;
        width: 0px;
        height: 80%;
        z-index: -1;
        transition: all 0.5s ease-in-out;
    }

    --btn-hover-before: {
        top: -10%;
        height: 120%;
        width: 150%;
        left: -25%;
        transition: all 0.5s ease-in-out,
    }

    --btn-ghost: {
        opacity: .5;
        transition: opacity .3s ease-in-out;
    }

    --btn-ghost-hover: {
        opacity: 1;
        transition: opacity .3s ease-in-out;
    }

    --btn-default: {
        color: var(--color-button);
        background-color: var(--color-bgbutton);
    }

    --btn-default-hover-before: {
        background-color: var(--color-bgbutton-active);
    }

    --btn-inverse: {
        background-color: var(--color-bgbutton-inverse);
        color: var(--color-button-inverse);
    }

    --btn-inverse-hover: {
        color: var(--color-button);
    }

    --btn-inverse-hover-before: {
        background-color: var(--color-bgbutton);
    }

    --btn-circle-before: {
        border-radius: 100%;
        top: 50%;
        height: 0;
        transition: all 0.45s ease-in-out;
    }

    --btn-circle-hover-before: {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 0.45s ease-in-out;
    }

    --btn-circle: {
        border-radius: 100%;
    }

    --btn-fixed: {
        position: fixed;
        z-index: 1;
    }
}