/**
* Card styles
*/
:root {
    --card: {
        width: 45%;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
    }

    --card-bg-image: {
        width: 100%;
        height: 10rem;
        background-color: var(--color-border);
        background-size: cover;
        background-repeat: no-repeat;
    }

    --card-label: {
        padding: .5rem;
        width: 100%;
    }

    --card-hoverable: {
        position: relative;
        overflow: hidden;
    }

    --card-hoverable-label: {
        position: absolute;
        background-color: rgba(var(--secondary-color), .7);
        bottom: -3rem;
        min-height: 3rem;
        transition: all .2s ease-in-out;
    }

    --card-hoverable-hover-label: {
        bottom: 0;
        transition: all .2s ease-in-out;
    }

    --card-hoverable-selected-label: {
        background-color: rgba(var(--secondary-color), .4);
        min-height: 100%;
        bottom: 0;
        transition: all .2s ease-in-out;
    }
}