/**
* Form styles
*/
:root {
    --form-controls: {
        display: block;
        width: 100%;
    }
    --form-label: {
        font-weight: 600;
        padding-bottom: 0;
    }
    --form-group: {
        margin-bottom: .6rem;
    }
    --form-group-floating: {
        position: relative;
        margin-top: 1.4rem;
    }
    --form-group-floating-label: {
        position: absolute;
        font-weight: normal;
        top: -.2rem;
        color: var(--color-placeholder);
        font-size: 1.4rem;
        transition: all .3s ease-in-out;
    }
    --form-group-floating-input-placeholder: {
        opacity: 0;
        transition: .1s ease-in-out;;
    }
    --form-group-floating-input-label: {
        pointer-events: none;
    }
    --form-group-floating-input-focus-placeholder: {
        opacity: 1;
        transition: .1s ease-in-out .3s;
    }
    --form-group-floating-input-focus-label: {
        color: var(--color-links);
        font-size: 1rem;
        font-weight: 700;
        /*transform: translateY(-(2.5rem + var(--input-padding * 3)));*/
        transform: translateY(calc(1rem + var(--input-padding)));
        transition: all .3s ease-in-out;
    }
    --form-group-floating-input-invalid: {
        border-color: var(--color-invalid);
    }

    --form-group-floating-input-invalid-focus-label: {
        color: var(--color-invalid);
    }

    --input-group: {
        position: relative;
    }

    --input-group-btn: {
        z-index: 2;
        display: inline-block;
        position: absolute;
        right: 0;
    }

    --input-group-input: {
        display: inline-block;
        float: left;
    }

    --input-group-after: {
        display: block;
        content: '';
        clear: both;
    }
}