/**
* Base styles
*/

*, *::before, *::after {
    box-sizing: border-box;
}

::selection {
    background: $color-selection;
    color: $white;
}

html, body {
    font: $primary-font-size $primary-font;
    color: $color-text;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

a {
    /*color: $color-links; */
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

input,
select,
textarea,
button,
label {
    position: relative;
    padding: $input-padding .1em;
    outline: none;
}

input,
select,
textarea,
button {
    border: 1px solid $color-border;
    transition: border 0.3s ease-in-out;
}

input:focus {
    border-color: $color-border-active;
    transition: border 0.3s ease-in-out;
}

button {
    padding-left: 1em;
    padding-right: 1em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $color-shadow;
    margin: 1rem 0;
    padding: 0; 
}