/* Powered by: https://github.com/tonystar/float-label-css
 */


/* Re-usable mixins
 * https://github.com/tonystar/float-label-css/blob/master/scss/_mixins.scss
 */

@mixin float-label-container {
    display: block;
    position: relative;
}

@mixin float-label {
    label,
    >span {
        position: absolute;
        left: 0;
        top: 0;
        cursor: text;
        font-size: 75%;
        opacity: 1;
        transition: all .2s;
        @content;
    }
}

@mixin float-label-input {
    &::placeholder {
        opacity: 1;
        transition: all .2s;
    }
    &:placeholder-shown:not(:focus)::placeholder {
        opacity: 0;
    }
}

@mixin float-label-scaled {
    &:placeholder-shown:not(:focus)+* {
        font-size: 150%;
        opacity: .5;
        @content;
    }
}

html {
    --selector-options: {
        opacity: 0;
        width: 0;
        height: 0;
        pointer-events: none;
        position: absolute;
        left: 15rem;
        display: flex;
        overflow-y: auto;
        z-index: 1;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: $white;
        padding: 1rem;
        top: 0;
        box-shadow: 1px 1px 3px $color-shadow;
        transition: all .3s ease-in-out;
    }
    --selector-options-open: {
        pointer-events: all;
        opacity: 1;
        width: 25rem;
        height: 20rem;
        transition: all .3s ease-in-out;
    }
    --hoverable {
        cursor: pointer;
        background-color: var(--color-hover);
    }
}