$primary-color: #3B3B43;
$secondary-color: #95BCAA;

$white: #fff;

$primary-font: "Roboto", sans-serif;
$primary-font-size: 14px;

$color-text: $primary-color;
$color-title: $secondary-color;
$color-links: darken($secondary-color, 10%);
$color-selection: $secondary-color;
$color-invalid: #ed6363;

$color-shadow: rgba($primary-color, .2);
$color-placeholder: rgba($primary-color, .5);
$color-hover: rgba($primary-color, .1);
$color-border: lighten($primary-color, 60%);
$color-border-active: $secondary-color;

$color-button: $white;
$color-bgbutton: $secondary-color;
$color-bgbutton-active: darken($secondary-color, 10%);

$color-button-inverse: $primary-color;
$color-bgbutton-inverse: $white;

$default-padding: .8rem;
$input-padding: .6rem;

/*
html {
    --primary-color: $primary-color;
    --secondary-color: $secondary-color;
    
    --white: $white;
    
    --primary-font: $primary-font;
    --primary-font-size: $primary-font-size;
    
    --color-text: $color-text;
    --color-title: $color-title;
    --color-links: $color-links;
    --color-selection: $color-selection;
    --color-invalid: $color-invalid;
    
    --color-shadow: $color-shadow;
    --color-placeholder: $color-placeholder;
    --color-hover: $color-hover;
    --color-border: $color-border;
    --color-border-active: $color-border-active;
    
    --color-button: $color-button;
    --color-bgbutton: $color-bgbutton;
    --color-bgbutton-active: $color-bgbutton-active;
    
    --color-button-inverse: $color-button-inverse;
    --color-bgbutton-inverse: $color-bgbutton-inverse;
    
    --default-padding: $default-padding;
    --input-padding: $input-padding;
}
*/