@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'base';

@import './components/buttons';
@import './components/forms';
@import './components/cards';

/**
* General components
*/

.wc-tooltip {
    background-color: $color-shadow;
    z-index: 9999;
}

.wc-popover {
    z-index: 9999;
    background-color: $color-border;
    transform: translateY(-0.4rem);
}

.wc-popover::after {
    display: block;
    content: "";
    width: 0; 
    height: 0; 
    position: absolute;
    top: 96%;
    left: calc(50% - 0.6rem);
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-top: .6rem solid $color-border;
}

.font-button {
    opacity: .85;
    color: $color-text;
    display: block;
    text-decoration: none;
    padding: $default-padding $default-padding ($default-padding*1.6) $default-padding;
    line-height: 1rem !important;
    
    .font-name {
        display: block;
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    .font-label {
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0.1em;
    }
}

.font-button:hover {
    opacity: 1;
    background-color: $color-hover;
    text-decoration: none;
    transition: all .4s ease-in-out;
}


.font-selector {
    position: absolute;
    overflow-y: hidden;
    display: block;
    width: 100%;
    top: 100%;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: #fff;
    transition: all .4s ease-in;

    &.open {
        z-index: 9999;
        top: 0;
        opacity: 1;
        transition: all .4s ease-in;
    }

    .close-selector {
        margin: 0;
        padding: 1rem $default-padding;
        text-align: center;
        display: block;
    }

    form {
        padding: 0 $default-padding;
        border-bottom: 1px solid $color-border;
    }

    .font-list {
        display: none;
        overflow-y: auto;
        height: 100%;
        width: 100%;
        padding: 1rem 0;
    
        &.active {
            display: block;
        }
    }
}

.color-button {
    cursor: pointer;
    padding: $default-padding;

    strong,
    input {
        display: block;
        width: 100%;
    }

    input {
        padding: 0;
        border: none;
        background: none;
        height: 38px;
    }
}

#sections {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 0;
    padding-bottom: 5rem;

    li {
        padding: .5rem 0;
        border: none;
    }

    li.todrag {
        border-top: 3px solid #333;
    }

    .actions {
        float: right;
        text-align: center;
    }

    .actions .exclude,
    .actions .more-options {
        float: left;
        display: inline-block;
        margin-top: -.5rem;
        line-height: 2rem;
        width: 15px;
        cursor: pointer;
    }

    .actions .more-options:hover {
        background-color: #ccc;
    }

    wc-dropdown {
        display: block;

        li {
            padding-left: .6rem;
        }
    }
}

#loading {
    appearance: none;
    width: 100%;
    height: 1rem;

    &:not([value]) {
        display: none;
    }

    &[value] {
        background-color: $secondary-color;
        display: block;

        ::-webkit-progress-bar {
            background-color: $color-hover;
        }
    }
}
